<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <section class="ajax-section">
        <div class="container">
            <ul class="cities">
                {% for city in cities_data %}
                <li class="city">
                    <h2 class="city-name">{{ city.name }}, <sup>{{ city.country }}</sup></h2>
                    <div class="city-temp">{{ city.temp }}<sup>°C</sup></div>
                    <figcaption>{{ city.description }}</figcaption>
                    <img class="city-icon" src="{{ city.icon }}" alt="{{ city.description }}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>
